.schoolbell-regular {
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-style: normal;
}

.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --mainBlue :#5599ff;
    --mainYellow: #ffcc00;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 252, 245);
    color:rgb(42, 42, 42);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: Jua,Verdana, Geneva, Tahoma, sans-serif;
    font-size:5rem;
    text-align: center;
}

h2 {
    font-family: Schoolbell, Verdana, Geneva, Tahoma, sans-serif;
    font-size:3rem;
}

h3 {
    font-family: Schoolbell, Verdana, Geneva, Tahoma, sans-serif;
    font-size:2rem;
}

header {
    height:70vh;
    background-image:url(images/Banner.svg) ;
    background-repeat: no-repeat;
    background-size:cover;
}

/*Secret Button */
.hidden {
    display:none;
}

.w-100 {
    width:100%;
}

.mb-10 {
    margin-bottom:10px;
}

#image {
    width:300px;
    position:fixed;
}

/* MENU */
.menu {
    height: clamp(50px,4vh,10vh );
    /* border:1px solid red; */
    background-color: rgba(85, 153, 255, 0.912);
    display:flex;
    justify-content: space-between;
    align-content: center;
    position:sticky;
    top:0;
    z-index:1;
}

.menu ul {
    display:flex;
    justify-content: flex-end;
    align-self: center;
    /* margin:auto; */
    gap:2vw;
    list-style: none;
    margin-right:2vw;
}

.menu a {
    text-decoration: none;
    color:whitesmoke;
    font-weight: bold;
    font-size: clamp(1rem,2vw,1.7rem)
}

.menu a:hover{
    color:darkgoldenrod;
}


.menu img { /*TODO Make image fit */
    display:flex;
    /* justify-content: flex-start; */
    width: clamp(30px,3vw,40px);
    margin: 10px;

}


/* BANNER */
.banner {
    /* border:1px solid red; */
    height:70vh;
    display:flex;
    /* justify-content: space-around; */
}

.banner-text{
    /* border:1px solid red; */
    display:flex;
    width:50%;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding:30px;
}

.banner-text h1{
    font-size: 1.5rem;
}

.banner-text button {
    display: flex;
    align-self: center;
    background-color: rgb(255, 234, 206);
    border-radius: 20px;
    /* width: 100px; */
    font-size: 1.2rem;
    text-align: center;
    /* margin:30px; */
    padding:5px;
    font-family: Jua, Verdana, Geneva, Tahoma, sans-serif;
    transition:transform 1.5s;
}

.banner-text button:hover {
    background-color: #ffcc00;
    transform:scale(1.4,1.4);

}

.flusonProfile {
    display: flex;
    width:50%;
    /* height:50vh; */
}

.flusonProfile > img {  /* TODO Fixing the image */
    object-fit:scale-down;
    width:100%;
    position:relative;
    /* top:25%; */
}

.social {
    display:flex;
    justify-content: space-around;

}

.social a:hover {
    transform:scale(1.3,1.3);
}

.social img{
    width:20px;
}



/* My Story */
.mystory {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* padding:5vw; */
    margin:5vh 5vw 5vh 5vw;
}

.bioContainer {
    margin:10px 0 10px 0;
    display:flex;
    justify-content: center;
    align-content: center;

}

.oldFluson {
    width:40%;
    max-width:350px;
    /* height:80%; */
    border-radius: 5px;
    /* position:relative; */
    float: left;
    margin:0 15px 15px 0;
    /* justify-content: center;
    align-self: center; */
}

.biography {
    display:block;
    text-wrap: wrap;

}

.youngFluson {
    width:60%;
    max-width:500px;
    border-radius: 5px;
    float:right;
    margin:15px 0 15px 15px;
}

.biography p {
    text-align: justify;
    /* padding:30px; */
}

/* Skills */
.container {
    background-color: var(--mainBlue);
    /* background-color: #5599ff; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding:5vh 5vw;
    text-align: center;
}

.info {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:50px 0;
    gap:5vw;

}

.skill {
    display:flex;
    flex-direction: column;
    gap:0.5vh;
}

.skill img {
    width:200px;
    border-radius: 15px;
    border:5px solid antiquewhite;
}

/* GALLERY */
.galleryContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin:50px 30px;
    z-index:-1;
}

/* Slideshow container */
.slideshow-container {
    max-width: 350px;
    position: relative;
    margin:30px auto;
    z-index: -1;
}

.mySlides {
    display: none;
}

.text {
    color: rgb(42, 42, 42);
    background-color: rgb(255, 252, 245);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: rgb(42, 42, 42);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

  /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    box-shadow:10px 30px 5px #5599ff;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* CONTACT */
.contact {
    /* border:solid red 1px; */
    display:flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--mainYellow,yellow);
    /* background-color: #ffcc00; */
    padding:5vh 5vw;
}
.contactWrapper {
    background-color: rgb(255, 252, 245);
    /* border:solid blue 1px; */
    padding:5vw;
    width:70%;
    margin:auto;
    margin-top:30px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #967800;
}

/* form>label {
    font-weight: bold;
    font-size:1.2rem;
} */

/* fieldset {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1vw; 
    padding:10px 0;
    margin:10px 0;
} */
/* 
.species {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:1vh;
    gap:1vw;
}

textarea {
    width:100%;
    max-width:100%;
    min-height:100px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
}

.name {
    width:100%;
    border-radius: 5px;
    padding:3px;
    font-size: 1.1rem;
    margin:5px 0;
    box-shadow: 2px 2px 5px gray;
}

.submit {
    margin-top:20px;
    padding:10px 20px;
    color:rgb(255, 252, 245);
    background-color:#5599ff;
    border-radius: 50px;
    font-size: 1.2em;
    font-weight: bold;
} */


footer {
    padding:30px;
    text-align: center;
}

.construction {
    background-color: rgb(255, 255, 72);
    color:black;
    position:fixed;
    bottom:0px;
    width:100%;
    text-align: center;
    padding:5px;
}